# Byte-compiled
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Distribution
build/
dist/
*.egg-info/

# Mypy
.mypy_cache/

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Data
data/raw/
data/processed/

# Results
results/logs/
results/processed/